<div class="p-4">
  <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
  <div class="flex flex-row items-center justify-center gap-4">
    

    <button
  mat-raised-button
  class="flex items-center space-x-2 text-red-500"
  (click)="selectFile()"
>
  <mat-icon class="  text-red-500 material-symbols-outlined upload-button">download</mat-icon>
  <span class="text-red-500">Upload</span>
</button>
    <!-- <button mat-raised-button  class="f" (click)="uploadFile()" [disabled]="!selectedFile">
      <span class="material-symbols-outlined text-red-500"> download </span>

      Upload
    </button> -->
    <!-- <div *ngIf="selectedFile">
      <div class="flex flex-col items-center justify-center">
        <span
          matTooltip="Click Upload to upload selected file"
          class="material-symbols-outlined cursor-pointer text-green-400"
        >
          arrow_back
        </span>
      </div>
    </div> -->
  </div>
</div>
@if(isUploading){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
