.upload-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
  }
  
  #fileInput {
    display: none;
  }
  
  .upload-button {
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .upload-button i {
    margin-right: 8px;
  }
  
  .submit-button {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
  }
  
  .submit-button:disabled {
    background-color: #6c757d;
  }
  
  .upload-message {
    margin-top: 10px;
    color: #dc3545;
  }
  