<div class="p-4">
  <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
  <div class="flex flex-row items-center justify-center gap-4">
    <button
      mat-icon-button
      class="flex flex-col items-center justify-center"
      (click)="selectFile()"
    >
      <span class="material-symbols-outlined"> download </span>
    </button>
    <button mat-raised-button (click)="uploadFile()" [disabled]="!selectedFile">
      Upload
    </button>
    <div *ngIf="selectedFile">
      <div class="flex flex-col items-center justify-center">
        <span
          matTooltip="Click Upload to upload selected file"
          class="material-symbols-outlined cursor-pointer text-green-400"
        >
          arrow_back
        </span>
      </div>
    </div>
  </div>
</div>
@if(isUploading){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
