@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./styles/colors.scss");

:root {
  --mdc-filled-button-label-text-font: Gantari;
  --mdc-protected-button-label-text-font: Gantari;
  --mat-form-field-container-text-font: Gantari;
}
body {
  margin: 0px;
}
html,
body {
  height: 100%;
}

@font-face {
  font-family: Gantari;
  src: url("assets/Gantari/Gantari-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font weight range */
  font-style: normal;
}

body {
  margin: 0;
  font-family: Gantari, sans-serif;
  font-weight: 500;
  font-style: normal;
}

button {
  font-family: inherit;
}

.custom-height {
  height: calc(100vh - 202px);
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.skeleton-loader {
  background: #e0e0e0;
  color: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
}
