@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./styles/colors.scss");

body {
  margin: 0px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
	font-family: 'Symphony';
	src: url('assets/symphony-cg-bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'calibri';
	src: url('assets/calibri/calibri-bold.eot?#iefix');
	src: url('assets/calibri/calibri-bold.eot?#iefix')
			format('eot'),
		url('assets/calibri/calibri-bold.woff') format('woff'),
		url('assets/calibri/calibri-bold.woff2') format('woff2'),
		url('assets/calibri/calibri-bold.ttf') format('truetype'),
		url('assets/calibri/calibri-bold.svg')
			format('svg');
}



.symphony{
  font-family: 'calibri';
}

.custom-height{
    height: calc(100vh - 202px);
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #e0e0e0;
    }
  }
  
  .skeleton-loader {
    background: #e0e0e0;
    color: #e0e0e0;
    border-radius: 4px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
  }
  