.back-icon {
  position: absolute;
  top: calc(50vh - 202px);
  left: 0px;
  opacity: 0.2;
}

.front-icon {
  position: absolute;
  top: calc(50vh - 202px);
  opacity: 0.2;

}

.lock-icon {
  position: absolute;
  top: 0px;
  opacity: 0.2;
}

